[Unit]
Description=WebODM Worker
After=webodm-db.service webodm-broker.service webodm-network.service
Requires=webodm-network.service

[Container]
Image=ghcr.io/sandroklippel/webodm_webapp:v2.9.1-coaer
ContainerName=worker
Network=webodm.network
Volume=/drone/media:/webodm/app/media:z
Environment=WO_BROKER=redis://broker
Environment=WO_DEBUG=NO
EnvironmentFile=/etc/webodm.env
Exec=/bin/bash -c "/webodm/wait-for-postgres.sh db /webodm/wait-for-it.sh -t 0 broker:6379 -- /webodm/wait-for-it.sh -t 0 webapp:8000 -- /webodm/worker.sh start"

[Service]
Restart=always