[Unit]
Description=WebODM Database
After=webodm-network.service
Requires=webodm-network.service

[Container]
Image=docker.io/opendronemap/webodm_db:latest
ContainerName=db
Network=webodm.network
Volume=/drone/db:/var/lib/postgresql/data:Z

[Service]
Restart=always