[Unit]
Description=WebODM WebApp
PartOf=webodm.pod
After=webodm-db.service webodm-broker.service webodm-worker.service

[Container]
Image=ghcr.io/sandroklippel/webodm_webapp:v2.9.1-coaer
ContainerName=webapp
Pod=webodm.pod
Volume=/drone/media:/webodm/app/media:z
Environment=WO_PORT=80
Environment=WO_HOST=localhost
Environment=WO_DEBUG=NO
Environment=WO_BROKER=redis://localhost
Environment=WO_DEV=NO
Environment=WO_DEV_WATCH_PLUGINS=NO
EnvironmentFile=/etc/webodm.env
Exec=/bin/bash -c "chmod +x /webodm/*.sh && /bin/bash -c \"/webodm/wait-for-postgres.sh localhost /webodm/wait-for-it.sh -t 0 localhost:6379 -- /webodm/start.sh\""

[Service]
Restart=always