[Unit]
Description=WebODM Redis Broker
After=webodm-network.service
Requires=webodm-network.service

[Container]
Image=docker.io/library/redis:7.0.10
ContainerName=broker
Network=webodm.network

[Service]
Restart=always