[Unit]
Description=WebODM WebApp
After=webodm-db.service webodm-broker.service webodm-network.service
Wants=webodm-db.service webodm-broker.service webodm-worker.service
Requires=webodm-network.service

[Container]
Image=ghcr.io/sandroklippel/webodm_webapp:v2.9.1-coaer
ContainerName=webapp
Network=webodm.network
PublishPort=80:8000
Volume=/drone/media:/webodm/app/media:z
Environment=WO_PORT=80
Environment=WO_HOST=localhost
Environment=WO_DEBUG=NO
Environment=WO_BROKER=redis://broker
Environment=WO_DEV=NO
Environment=WO_DEV_WATCH_PLUGINS=NO
EnvironmentFile=/etc/webodm.env
Exec=/bin/bash -c "chmod +x /webodm/*.sh && /webodm/wait-for-postgres.sh db /webodm/wait-for-it.sh -t 0 broker:6379 -- /webodm/start.sh"

[Service]
Restart=always

[Install]
WantedBy=multi-user.target