[Unit]
Description=NodeODM Service
After=webodm-network.service
Requires=webodm-network.service

[Container]
Image=docker.io/opendronemap/nodeodm:3.5.6
ContainerName=odm
Network=webodm.network
Volume=/drone:/var/www/data
Exec=--config /var/www/data/config-coaer.json

[Service]
Restart=on-failure
TimeoutStopSec=70